<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emotional Chatbots</title>
    <base target="_blank" />
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<div class="main" style="text-align: center">
<div class="title">
    <h1>Welcome! Choose a chatbot!</h1>
  </div>

    <a href="chat_angry">
        <div class="div1">
            <img src="../static/pics/angry.png" width="220" height="162" />
        </div>
    </a>

    <div style="font-size: 20px; font-family: 'Trebuchet MS', sans-serif">
        My name is Tom, I am often angry. (Click me to chat with me!)
    </div>

    <br>
    <a href="chat_happy">
        <div class="div1">
            <img src="../static/pics/happy.png" width="220" height="162" />
        </div>
    </a>
    <div style="font-size: 20px; font-family: 'Trebuchet MS', sans-serif">
        My name is Bob, I am a happy and fun guy. (Click me to chat with me!)
    </div>
    <br>
    <a href="chat_sad">
        <div class="div1">
            <img src="../static/pics/sad.png" width="220" height="162" />
        </div>
    </a>
    <div style="font-size: 20px; font-family: 'Trebuchet MS', sans-serif">
        My name is Susan, I am often sad and cry a lot. (Click me to chat with me!)
    </div>
    <br>
    <a href="chat_neutral">
        <div class="div1">
            <img src="../static/pics/neutral.png" width="220" height="162" />
        </div>
    </a>
    <div style="font-size: 20px; font-family: 'Trebuchet MS', sans-serif">
        My name is Andy, I am very easygoing and friendly. (Click me to chat with me!)
    </div>
    <br>
    <a href="chat_frustrated">
        <div class="div1">
            <img src="../static/pics/frustrated.png" width="220" height="162" />
        </div>
    </a>
    <div style="font-size: 20px; font-family: 'Trebuchet MS', sans-serif">
        My name is Mike, I am stressed and often feel frustrated. (Click me to chat with me!)
    </div>

    <br><br><br>

    <script type="text/javascript" src="../static/main.js"></script>

</div>

</body>
</html>